body {
	background-color: gray;
}

.ar-cgc-landran-header {
	margin-top: 5px;
}

.ar-cgc-landran-resume {
	box-shadow: 0 8px 6px -6px black;
	background-color: white;
	width: 816px;
	margin: 0 auto;
	padding: 35px;
}

.ar-cgc-landran-logo {
	height: 80px;
	object-fit: contain;
}

.ar-cgc-landran-header-list p {
	margin-bottom: 5px;
	margin-top: 1px;
	font-size: initial;
}

.ar-cgc-landran-about {
	margin-top: 25px;
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.ar-cgc-landran-table-heading {
	margin-top: 20px;
}

.ar-cgc-landran-heading {
	padding: 5px;
	padding-left: 4px;
	vertical-align: middle;
	background-color: lightgrey;
}

.header {
	background-color: gray;
}

.attr {
	width: 150px;
}

.ar-cgc-landran-table-header {
	background: lightgray;
	font-weight: bolder;
}

td, th {
	border: 1px solid #000;
	text-align: center;
	padding: 8px;
}

table {
	font-size: 14px;
	margin-top: 10px;
	border-collapse: collapse;
	width: 100%;
}

.project-head {
	font-weight: bold;
	background-color: lightgray;
	justify-content: left;
}

.project-head-text {
	text-align: left;
}

.skill_table {
	text-align: left;
}

.project__header {
	width: 100%;
}

.declare {
	display: flex;
	justify-content: space-between;
}

.ar-cgc-landran-save-button {
	position: fixed;
	text-align: center;
	bottom: 0;
	right: 0;
	margin-right: 130px;
	margin-bottom: 30px;
	width: 85px;
	border-radius: 50%;
	padding: 25px 0;
	background: #8e9cd2;
}

@media print {
	.ar-cgc-landran-save-button {
		display: none;
	}
}