.jhlogo {
	height: 100px;
	margin-right: 30px;
}
.root{
	padding: 50px;
}
.linear{
	display: flex;
	justify-content: space-between;
}
.parent__info{
	display: flex;
	justify-content: space-between;
}
.edu {
	margin-top: 10px;
}
.heading{
	margin-top: 20px;
}
.header{
	display: flex;
	align-items: center;
}
.header > h5 {
	margin-left: 50px;
}
.heading__text {
	margin-bottom: 0px;
}
.hline{
	margin-top: 0px;
}
.line{
background-color: black;
 display: inline-block;
 width: 0.5px;
 height: 100px;
 border-left: 1px solid #ccc;
 border-right: 1px solid #ccc;
}
.about {
	margin-top: 50px;
	text-align: center;
}
.slogan {
	margin-left: 30px;
	display: inline-block;
}
h4 {
	margin-bottom: 10px;
	margin-top: 10px;
}
p{
	font-size: 12px;
	margin: 1px;
}
li{
	font-size: 12px;
}
ul{
	margin-top: 0px;
}