.ar-jhu-header-logo {
	height: 70px;
	margin-right: 30px;
}

.education {
	margin-top: 40px;
}

body {
	background-color: gray;
}

.ar-jhu-resume {
	background-color: white;
	width: 816px;
	margin: 0 auto;
	padding: 35px;
}

.linear {
	display: flex;
	justify-content: space-between;
}

.ar-jhu-info-basic {
	display: flex;
	justify-content: space-between;
	font-size: 17px;
}

.ar-jhu-info-basic .info {
	width: 150px;
}

.align-right {
	text-align: right;
}

.align-left {
	text-align: left;
}

.center {
	text-align: center;
}

.ar-jhu-education-details {
	margin-top: 10px;
	font-size: 17px;
}

.ar-jhu-heading {
	margin-top: 20px;
}

.ar-jhu-header {
	display: flex;
	align-items: center;
	justify-content: center;
}

.ar-jhu-header>h5 {
	margin-left: 50px;
}

.ar-jhu-header-verticalline {
	background-color: black;
	display: inline-block;
	width: 0.5px;
	height: 100px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

.ar-jhu-info {
	text-align: center;
}

.ar-jhu-header-slogan {
	margin-left: 30px;
	display: inline-block;
}

.ar-jhu-leadership {
	font-size: 17px;
}

.ar-jhu-header>h4 {
	margin-bottom: 10px;
	margin-top: 10px;
}

.ar-jhu-full-name {
	font-size: 22px;
	font-weight: bolder;
}

.linear ul {
	width: 60%;
}

li {
	font-size: 17px;
}

ul {
	margin-top: 0px;
}

.ar-jhu-save-button {
	position: fixed;
	text-align: center;
	bottom: 0;
	right: 0;
	margin-right: 130px;
	margin-bottom: 30px;
	width: 90px;
	border-radius: 50%;
	padding: 25px 0;
	background: #8e9cd2;
	color: #161c2e;
}

.ar-jhu-save-button i {
	font-size: 36px;
}

@media print {
	.ar-jhu-save-button {
		display: none;
	}
}

@media print {
    .ar-cgc-landran-save-button {
        display: none;
    }
    body {
        background: white;
    }
}