<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="../../css/john-hopkins.css">
	<title>John Hopkins University | Acaresume</title>
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
	<link rel="icon" type="image/png" href="/acaresume/assets/favicon.png" />
</head>

<body>
	<div class="ar-jhu-resume" contenteditable="true">
		<div class="ar-jhu-header">
			<img class="ar-jhu-header-logo" src="../../assets/jh-logo.svg">
			<div class="ar-jhu-header-verticalline"></div>
			<div class="ar-jhu-header-slogan">
				<h4>
					<strong>Life Design Lab</strong>
				</h4>
			</div>
		</div>
		<div class="ar-jhu-info">
			<div class="ar-jhu-full-name">Full Name</div>
			<div class="ar-jhu-info-basic">
				<div class="info align-left">
					Street No <br> XYZ City <br>
					ZIP
				</div>
				<div class="info align-center">
					username@jhu.edu <br>
					(410) 12345678
				</div>
				<div class="info align-right">
					www.website.com
				</div>
			</div>
		</div>

		<!-- Education -->
		<div class="ar-jhu-education">
			<div class="ar-jhu-heading">
				<h4 class="ar-jhu-heading-text">
					<u>EDUCATION</u>
				</h4>
			</div>
			<div class="ar-jhu-education-details">
				<div class="linear">
					<div>
						<strong> John Hopkins University</strong>
					</div>
					<div>Baltimore, MD</div>
				</div>
				<div class="linear">
					<div>Natural Sciences Major</div>
					<div>Expected May 20XX</div>
				</div>
				<div>Dean’s List Fall 2012- awarded to students with GPA over 3.5</div>
			</div>
			<div class="ar-jhu-education-details">
				<div class="linear">
					<div>
						<strong>Small Town High School</strong>
					</div>
					<div>Small Town, NY</div>
				</div>
				<div class="linear">
					<div>High School Diploma</div>
					<div>June 20XX</div>
				</div>
				<div>Cumulative GPA: 4.0, Top 1% of class <br>
					Advanced Placement Courses: Chemistry, Biology, Physics, U.S. History, English
				</div>
			</div>
		</div>

		<!--Leadership-->
		<div class="ar-jhu-leadership">
			<div class="ar-jhu-heading">
				<h4 class="ar-jhu-leadership-text">
					<u>LEADERSHIP</u>
				</h4>
			</div>
			<div>
				<div class="linear">
					<div>Mentor, Students Taking a New Direction (STAND) </div>
					<div class="linear">
						<div>Baltimore, MD</div>
					</div>
				</div>
				<div class="linear">
					<ul>
						<li>Mentor a 16 year old girl that was previously arrested, including helping herunderstand her
							thought process
							and decision making, in order to move forward</li>
						<li>Ate free lunch daily</li>
					</ul>
					<div>Sept. 20XX - Present</div>
				</div>
			</div>
			<div>
				<div class="linear">
					<div> Volunteer, Johns Hopkins Circle K </div>
					<div class="linear">
						<div>Baltimore, MD</div>
					</div>
				</div>
				<div class="linear">
					<ul>
						<li>Staff support for campus blood drive</li>
						<li>Made Easter egg and helped with egg hunt for neighborhood children</li>
					</ul>
					<div>Sept. 20XX - Present</div>
				</div>
			</div>
			<div>
				<div class="linear">
					<div> Secretary, National Honor Society </div>
					<div class="linear">
						<div>Small Town, NY</div>
					</div>
				</div>
				<div class="linear">
					<ul>
						<li> Kept attendance for meetings</li>
						<li>Recorded and distributed minutes of meetings</li>
					</ul>
					<div>Sept. 20XX - Present</div>
				</div>
			</div>
			<div>
				<div class="linear">
					<div> Volunteer, Shakespeare Theatre </div>
					<div class="linear">
						<div>Small Town, NY</div>
					</div>
				</div>
				<div class="linear">
					<ul>
						<li>Helped in the costume shop, concessions, & ushered for various shows</li>
						<li>Decorated lobby for Christmas, coordinating delivery of
							decoration donations</li>
					</ul>
					<div>Sept. 20XX - Present</div>
				</div>
			</div>
		</div>

		<!--Work Experience -->
		<div class="ar-jhu-workexperience">
			<div class="ar-jhu-heading">
				<h4 class="ar-jhu-heading-text">
					<u>WORK EXPERIENCE</u>
				</h4>
			</div>
			<div>
				<div class="linear">
					<div> Sales Clerk, Macy’s </div>
					<div class="linear">
						<div>Baltimore, MD</div>
					</div>
				</div>
				<div class="linear">
					<ul>
						<li>Sold home goods, including furniture and was the top selling junior associate</li>
						<li>Grossed $2,000 in one weekend for the store, in an internal
							sales competition
						</li>
						<li>
							Worked the register, handling money and complex transactions,
							including reconciling daily receipts
						</li>
					</ul>
					<div>Sept. 20XX - Present</div>
				</div>
			</div>
			<div>
				<div class="linear">
					<div> Page, NY House of Representatives </div>
					<div class="linear">
						<div>Baltimore, MD</div>
					</div>
				</div>
				<div class="linear">
					<ul>
						<li>Assisted with office tasks and transferring notes between representatives during sessions
						</li>
					</ul>
					<div>Sept. 20XX - Oct. 20XX</div>
				</div>
			</div>
		</div>

		<!-- Skills -->
		<div class="ar-jhu-skills">
			<div class="ar-jhu-heading">
				<h4 class="ar-jhu-heading-text">
					<u>SKILLS</u>
				</h4>
			</div>
			<div>
				<div>Intermediate written and conversational Spanish,
					Microsoft Word, Excel, PowerPoint.</div>
			</div>
		</div>
	</div>
	<div class="ar-jhu-save-button" onclick="window.print()">
		<i class='fas fa-download'></i>
	</div>
</body>

</html>