<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="../../css/john-hopkins.css">
	<title>John Hopkins University | Acaresume</title>
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body>
	<div class="ar-jhu-resume" contenteditable="true">
		<div class="ar-jhu-header">
			<img class="ar-jhu-header-logo" src="../../assets/jh-logo.svg">
			<div class="ar-jhu-header-verticalline"></div>
			<div class="ar-jhu-header-slogan">
				<h4>
					<strong>Life Design Lab</strong>
				</h4>
			</div>
		</div>
		<div class="ar-jhu-info">
			<h4>Full Name</h4>
			<div class="ar-jhu-info-basic">
				<div class="info">
					Home Address
				</div>
				<div class="info">
					Email Address <br>
					Mobile
				</div>
				<div class="info">
					Current Address
				</div>
			</div>
		</div>

		<!-- Education -->
		<div class="ar-jhu-education">
			<div class="ar-jhu-heading">
				<h4 class="ar-jhu-heading-text">
					<u>EDUCATION</u>
				</h4>
			</div>
			<div class="ar-jhu-education-details">
				<div class="linear">
					<p>
						<strong>University/Institute Name</strong>
					</p>
					<p>Location</p>
				</div>
				<div class="linear">
					<p>Course Name and Major</p>
					<p>Expected Graduation date</p>
				</div>
				<p>GPA and Experience</p>
			</div>
			<div class="ar-jhu-education-details">
				<div class="linear">
					<p>
						<strong>University/Institute Name</strong>
					</p>
					<p>Location</p>
				</div>
				<div class="linear">
					<p>Course Name and Major</p>
					<p>Expected Graduation date</p>
				</div>
				<p>GPA and Experience</p>
			</div>
		</div>

		<!--Leadership-->
		<div class="ar-jhu-leadership">
			<div class="ar-jhu-heading">
				<h4 class="ar-jhu-leadership-text">
					<u>LEADERSHIP</u>
				</h4>
			</div>
			<div>
				<div class="linear">
					<p>Position / Responsibility</p>
					<div class="linear">
						<p>Location</p>
						<p>from- to</p>
					</div>
				</div>
				<ul>
					<li>Experience Point One</li>
					<li>Experience Point Two</li>
				</ul>
			</div>
			<div>
				<div class="linear">
					<p>Position / Responsibility</p>
					<div class="linear">
						<p>Location</p>
						<p>from- to</p>
					</div>
				</div>
				<ul>
					<li>Experience Point One</li>
					<li>Experience Point Two</li>
				</ul>
			</div>
			<div>
				<div class="linear">
					<p>Position / Responsibility</p>
					<div class="linear">
						<p>Location</p>
						<p>from- to</p>
					</div>
				</div>
				<ul>
					<li>Experience Point One</li>
					<li>Experience Point Two</li>
				</ul>
			</div>
			<div>
				<div class="linear">
					<p>Position / Responsibility</p>
					<div class="linear">
						<p>Location</p>
						<p>from- to</p>
					</div>
				</div>
				<ul>
					<li>Experience Point One</li>
					<li>Experience Point Two</li>
				</ul>
			</div>
		</div>

		<!--Work Experience -->
		<div class="ar-jhu-workexperience">
			<div class="ar-jhu-heading">
				<h4 class="ar-jhu-heading-text">
					<u>WORK EXPERIENCE</u>
				</h4>
			</div>
			<div>
				<div class="linear">
					<p>Position / Responsibility</p>
					<div class="linear">
						<p>Location</p>
						<p>from- to</p>
					</div>
				</div>
				<ul>
					<li>Experience Point One</li>
					<li>Experience Point Two</li>
					<li>Experience Point Three</li>
				</ul>
			</div>
			<div>
				<div class="linear">
					<p>Position, Company Name</p>
					<div class="linear">
						<p>Location</p>
						<p>from- to</p>
					</div>
				</div>
				<ul>
					<li>Experience Point One</li>
					<li>Experience Point Two</li>
					<li>Experience Point Three</li>
				</ul>
			</div>
		</div>

		<!-- Skills -->
		<div class="ar-jhu-skills">
			<div class="ar-jhu-heading">
				<h4 class="ar-jhu-heading-text">
					<u>SKILLS</u>
				</h4>
			</div>
			<div>
				<p>All skills seperated with commas</p>
			</div>
		</div>
	</div>
	<div class="ar-jhu-save-button" onclick="window.print()">
		<i class='fas fa-download' style='font-size:36px'></i>
	</div>
</body>

</html>