<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../../css/cgc-landran.css">
    <title></title>
</head>

<body>
    <div class="resume" contenteditable="true">

        <div>
            <img class="cgc_logo" src="../../assets/cgc-logo.png" />
        </div>

        <div class="resume__about">
            <div class="candidate__details">
                <p>Full Name</p>
                <p>Location </p>
                <p>Mobile Number</p>
                <p>Email Address </p>
            </div>
            <div class="resume__image">
                <img class="photo" src="../../assets/picture.png" alt="picture" />
            </div>
        </div>

        <div class="resume__education">
            <div class="resume__heading">
                <p class="component__heading"><strong>Educational Qualifications</strong></p>
            </div>
            <div class="resume__education__table">
                <table class="edu_table" id="educationTable">
                    <tr class="table__header">
                        <td>Year</td>
                        <td>Course</td>
                        <td>School/Institute</td>
                        <td>Board/University</td>
                        <td>%age/CGPA</td>
                    </tr>
                    <tr>
                        <td>from-to</td>
                        <td>Course</td>
                        <td>College Name</td>
                        <td>University </td>
                        <td>Scores</td>
                    </tr>
                    <tr>
                        <td>from-to</td>
                        <td>Course</td>
                        <td>College Name</td>
                        <td>University </td>
                        <td>Scores</td>
                    </tr>
                    <tr>
                        <td>from-to</td>
                        <td>Course</td>
                        <td>College Name</td>
                        <td>University </td>
                        <td>Scores</td>
                    </tr>
                </table>

                <div class="resume__academicach">
                    <div class="resume__heading">
                        <p class="component__heading"><strong>Academic Achievements</strong></p>
                    </div>
                    <div>
                        <ul>
                            <li>Achievement First</li>
                            <li>Achievement Second</li>
                            <li>Achievement Third</li>
                            <li>Achievement Fourth</li>
                            <li>Achievement Fifth</li>
                        </ul>
                    </div>
                </div>

                <div class="resume__competencies">
                    <div class="resume__heading">
                        <p class="component__heading"><strong>Academic Achievements</strong></p>
                    </div>
                    <div>
                        <table class="skill_table" id="educationTable">
                            <tr>
                                <td class="attr">Operating System</td>
                                <td>:</td>
                                <td>XYZ,XYZ,XYZ</td>
                            </tr>
                            <tr>
                                <td class="attr">Skills</td>
                                <td>:</td>
                                <td>XYZ,XYZ,XYZ</td>
                            </tr>
                            <tr>
                                <td class="attr">Database</td>
                                <td>:</td>
                                <td>XYZ,XYZ,XYZ</td>
                            </tr>
                            <tr>
                                <td class="attr">Other Interests</td>
                                <td>:</td>
                                <td>XYZ,XYZ,XYZ</td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="resume__projects">
                    <div class="resume__heading">
                        <p class="component__heading"><strong>Projects Undertaken</strong></p>
                    </div>
                    <div>

                        <table class="skill_table" id="educationTable">

                            <caption>Project Name</caption>

                            <tr>
                                <td class="attr">Environment</td>
                                <td>:</td>
                                <td>XYZ,XYZ,XYZ</td>
                            </tr>
                            <tr>
                                <td class="attr">Link</td>
                                <td>:</td>
                                <td>XYZ,XYZ,XYZ</td>
                            </tr>
                            <tr>
                                <td class="attr">Language/Database</td>
                                <td>:</td>
                                <td>XYZ,XYZ,XYZ</td>
                            </tr>
                            <tr>
                                <td class="attr">Project Description</td>
                                <td>:</td>
                                <td>XYZ,XYZ,XYZ</td>
                            </tr>
                            <tr>
                                <td class="attr">Team</td>
                                <td>:</td>
                                <td>XYZ,XYZ,XYZ</td>
                            </tr>
                            <tr>
                                <td class="attr">Role</td>
                                <td>:</td>
                                <td>XYZ,XYZ,XYZ</td>
                            </tr>
                        </table>

                        <table class="skill_table" id="educationTable">

                            <caption>Project Name</caption>

                            <tr>
                                <td class="attr">Environment</td>
                                <td>:</td>
                                <td>XYZ,XYZ,XYZ</td>
                            </tr>
                            <tr>
                                <td class="attr">Link</td>
                                <td>:</td>
                                <td>XYZ,XYZ,XYZ</td>
                            </tr>
                            <tr>
                                <td class="attr">Language/Database</td>
                                <td>:</td>
                                <td>XYZ,XYZ,XYZ</td>
                            </tr>
                            <tr>
                                <td class="attr">Project Description</td>
                                <td>:</td>
                                <td>XYZ,XYZ,XYZ</td>
                            </tr>
                            <tr>
                                <td class="attr">Team</td>
                                <td>:</td>
                                <td>XYZ,XYZ,XYZ</td>
                            </tr>
                            <tr>
                                <td class="attr">Role</td>
                                <td>:</td>
                                <td>XYZ,XYZ,XYZ</td>
                            </tr>
                        </table>

                        <table class="skill_table" id="educationTable">

                            <caption>Project Name</caption>

                            <tr>
                                <td class="attr">Environment</td>
                                <td>:</td>
                                <td>XYZ,XYZ,XYZ</td>
                            </tr>
                            <tr>
                                <td class="attr">Link</td>
                                <td>:</td>
                                <td>XYZ,XYZ,XYZ</td>
                            </tr>
                            <tr>
                                <td class="attr">Language/Database</td>
                                <td>:</td>
                                <td>XYZ,XYZ,XYZ</td>
                            </tr>
                            <tr>
                                <td class="attr">Project Description</td>
                                <td>:</td>
                                <td>XYZ,XYZ,XYZ</td>
                            </tr>
                            <tr>
                                <td class="attr">Team</td>
                                <td>:</td>
                                <td>XYZ,XYZ,XYZ</td>
                            </tr>
                            <tr>
                                <td class="attr">Role</td>
                                <td>:</td>
                                <td>XYZ,XYZ,XYZ</td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="resume__internships">
                    <div class="resume__heading">
                        <p class="component__heading"><strong>Internships / Experiential Learning</strong></p>
                    </div>
                    <div>
                        <table class="skill_table" id="educationTable">

                            <caption>Company Name</caption>

                            <tr>
                                <td class="attr">Role</td>
                                <td>:</td>
                                <td>XYZ,XYZ,XYZ</td>
                            </tr>
                            <tr>
                                <td class="attr">Link</td>
                                <td>:</td>
                                <td>XYZ,XYZ,XYZ</td>
                            </tr>
                            <tr>
                                <td class="attr">Description</td>
                                <td>:</td>
                                <td>XYZ,XYZ,XYZ</td>
                            </tr>
                            <tr>
                                <td class="attr">Duration</td>
                                <td>:</td>
                                <td>XYZ,XYZ,XYZ</td>
                            </tr>

                        </table>
                        <table class="skill_table" id="educationTable">

                            <caption>Company Name</caption>

                            <tr>
                                <td class="attr">Role</td>
                                <td>:</td>
                                <td>XYZ,XYZ,XYZ</td>
                            </tr>
                            <tr>
                                <td class="attr">Link</td>
                                <td>:</td>
                                <td>XYZ,XYZ,XYZ</td>
                            </tr>
                            <tr>
                                <td class="attr">Description</td>
                                <td>:</td>
                                <td>XYZ,XYZ,XYZ</td>
                            </tr>
                            <tr>
                                <td class="attr">Duration</td>
                                <td>:</td>
                                <td>XYZ,XYZ,XYZ</td>
                            </tr>

                        </table>
                        <table class="skill_table" id="educationTable">

                            <caption>Company Name</caption>

                            <tr>
                                <td class="attr">Role</td>
                                <td>:</td>
                                <td>XYZ,XYZ,XYZ</td>
                            </tr>
                            <tr>
                                <td class="attr">Link</td>
                                <td>:</td>
                                <td>XYZ,XYZ,XYZ</td>
                            </tr>
                            <tr>
                                <td class="attr">Description</td>
                                <td>:</td>
                                <td>XYZ,XYZ,XYZ</td>
                            </tr>
                            <tr>
                                <td class="attr">Duration</td>
                                <td>:</td>
                                <td>XYZ,XYZ,XYZ</td>
                            </tr>

                        </table>

                        <table class="skill_table" id="educationTable">

                            <caption>Company Name</caption>

                            <tr>
                                <td class="attr">Role</td>
                                <td>:</td>
                                <td>XYZ,XYZ,XYZ</td>
                            </tr>
                            <tr>
                                <td class="attr">Link</td>
                                <td>:</td>
                                <td>XYZ,XYZ,XYZ</td>
                            </tr>
                            <tr>
                                <td class="attr">Description</td>
                                <td>:</td>
                                <td>XYZ,XYZ,XYZ</td>
                            </tr>
                            <tr>
                                <td class="attr">Duration</td>
                                <td>:</td>
                                <td>XYZ,XYZ,XYZ</td>
                            </tr>

                        </table>
                    </div>
                </div>


                <div class="resume__academicach">
                    <div class="resume__heading">
                        <p class="component__heading"><strong>Extra-Curricular Activities</strong></p>
                    </div>
                    <div>
                        <ul>
                            <li>Extra-Curricular Activity First</li>
                            <li>Extra-Curricular Activity Second</li>
                            <li>Extra-Curricular Activity Third</li>
                            <li>Extra-Curricular Activity Fourth</li>
                            <li>Extra-Curricular Activity Fifth</li>
                        </ul>
                    </div>
                </div>

                <div class="resume__academicach">
                    <div class="resume__heading">
                        <p class="component__heading"><strong>Hobbies / Interests</strong></p>
                    </div>
                    <div>
                        <ul>
                            <li>Hobbie First</li>
                            <li>Hobbie Second</li>
                            <li>Hobbie Third</li>
                            <li>Hobbie Fourth</li>
                            <li>Hobbie Fifth</li>
                        </ul>
                    </div>
                </div>

                <div class="resume__academicach">
                    <div class="resume__heading">
                        <p class="component__heading"><strong>Personal Information</strong></p>
                    </div>
                    <div>
                        <p><strong>Date of Birth</strong> : dd/mm/yyyy</p>
                        <p><strong>Gender/Marital Status</strong> : G/MS</p>
                        <p><strong>Language Proficiency</strong> : Languags</p>
                    </div>
                </div>

                <div class="resume__declaration">
                    <div class="resume__heading">
                        <p class="component__heading"><strong>Personal Information</strong></p>
                    </div>
                    <div>
                        <p>I do hereby declare that the above information is true to the best of my knowledge</p>
                        <div class="declare">
                            <p><strong>Name</strong></p>
                            <p><strong>Place : Place</strong></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>

</html>