<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../../css/cgc-landran.css">
    <title>CGC Landran | Acaresume</title>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="icon" type="image/png" href="/acaresume/assets/favicon.png" />
</head>

<body>
    <div class="ar-cgc-landran-resume" contenteditable="true">
        <div class="ar-cgc-landran-header">
            <img class="ar-cgc-landran-logo" src="../../assets/cgc-logo.png" />
        </div>
        <div class="ar-cgc-landran-about">
            <div class="ar-cgc-landran-header-list">
                <p>Full Name</p>
                <p>Location </p>
                <p>Mobile Number</p>
                <p>Email Address </p>
            </div>
        </div>
        <div class="ar-cgc-landran-table-heading">
            <div class="ar-cgc-landran-heading">
                <div class="ar-cgc-landran-heading-inner"><strong>EDUCATION QUALIFICATIONS</strong></div>
            </div>
            <div class="ar-cgc-landran-table">
                <table>
                    <tr class="ar-cgc-landran-table-header">
                        <td>Year</td>
                        <td>Course</td>
                        <td>School/Institute</td>
                        <td>Board/University</td>
                        <td>%age/CGPA</td>
                    </tr>
                    <tr>
                        <td>20XX-20XX</td>
                        <td>Course</td>
                        <td>College Name</td>
                        <td>University </td>
                        <td>Scores</td>
                    </tr>
                    <tr>
                        <td>20XX-20XX</td>
                        <td>Course</td>
                        <td>College Name</td>
                        <td>University </td>
                        <td>Scores</td>
                    </tr>
                    <tr>
                        <td>20XX-20XX</td>
                        <td>Course</td>
                        <td>College Name</td>
                        <td>University </td>
                        <td>Scores</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="ar-cgc-landran-table-heading">
            <div class="ar-cgc-landran-heading">
                <div class="ar-cgc-landran-heading-inner"><strong>ACADEMIC ACHIEVEMENTS</strong></div>
            </div>
            <div>
                <ul>
                    <li>Won XX organized by XX</li>
                    <li>3rd position in XX Hackathon</li>
                    <li>Maintained a CGPA of 8</li>
                    <li>Received internship offer from XX</li>
                    <li>Participated in XX Event</li>
                </ul>
            </div>
        </div>

        <div class="ar-cgc-landran-table-heading">
            <div class="ar-cgc-landran-heading">
                <div class="ar-cgc-landran-heading-inner"><strong>SOFTWARE COMPETENCIES</strong></div>
            </div>
            <div>
                <table class="skill_table">
                    <tr>
                        <td class="attr">Operating System</td>
                        <td>:</td>
                        <td>MacOS, Linux and Windows</td>
                    </tr>
                    <tr>
                        <td class="attr">Skills</td>
                        <td>:</td>
                        <td>Data Structures, Algorithms, C++, JavaScript, Java, PHP and Git</td>
                    </tr>
                    <tr>
                        <td class="attr">Database</td>
                        <td>:</td>
                        <td>MySQL and MongoDB</td>
                    </tr>
                    <tr>
                        <td class="attr">Other Interests</td>
                        <td>:</td>
                        <td>Web Development and Mobile App Development</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="ar-cgc-landran-table-heading">
            <div class="ar-cgc-landran-heading">
                <div class="ar-cgc-landran-heading-inner"><strong>Projects Undertaken</strong></div>
            </div>
            <div>
                <table class="skill_table">
                    <tr class="project-head">
                        <td class="project-head-text" colspan="3">Project Name</td>
                    <tr class="project-row">
                        <td class="attr">Environment</td>
                        <td>:</td>
                        <td>Web</td>
                    </tr>
                    <tr class="project-row">
                        <td class="attr">Link</td>
                        <td>:</td>
                        <td>https://github.com/username/projectname</td>
                    </tr>
                    <tr class="project-row">
                        <td class="attr">Language/Database</td>
                        <td>:</td>
                        <td>PHP, HTML, CSS, CodeIgniter and MySQL</td>
                    </tr>
                    <tr class="project-row">
                        <td class="attr">Project Description</td>
                        <td>:</td>
                        <td>A short description about the project</td>
                    </tr>
                    <tr class="project-row">
                        <td class="attr">Team</td>
                        <td>:</td>
                        <td>Individual</td>
                    </tr>
                    <tr class="project-row">
                        <td class="attr">Role</td>
                        <td>:</td>
                        <td>Development and Maintainence</td>
                    </tr>
                </table>

                <table class="skill_table">

                    <tr class="project-head">
                        <td class="project-head-text" colspan="3">Project Name</td>
                    <tr class="project-row">
                        <td class="attr">Environment</td>
                        <td>:</td>
                        <td>Web</td>
                    </tr>
                    <tr class="project-row">
                        <td class="attr">Link</td>
                        <td>:</td>
                        <td>https://github.com/username/projectname</td>
                    </tr>
                    <tr class="project-row">
                        <td class="attr">Language/Database</td>
                        <td>:</td>
                        <td>PHP, HTML, CSS, CodeIgniter and MySQL</td>
                    </tr>
                    <tr class="project-row">
                        <td class="attr">Project Description</td>
                        <td>:</td>
                        <td>A short description about the project</td>
                    </tr>
                    <tr class="project-row">
                        <td class="attr">Team</td>
                        <td>:</td>
                        <td>Individual</td>
                    </tr>
                    <tr class="project-row">
                        <td class="attr">Role</td>
                        <td>:</td>
                        <td>Development and Maintainence</td>
                    </tr>
                </table>

                <table class="skill_table">

                    <tr class="project-head">
                        <td class="project-head-text" colspan="3">Project Name</td>
                    <tr class="project-row">
                        <td class="attr">Environment</td>
                        <td>:</td>
                        <td>Web</td>
                    </tr>
                    <tr class="project-row">
                        <td class="attr">Link</td>
                        <td>:</td>
                        <td>https://github.com/username/projectname</td>
                    </tr>
                    <tr class="project-row">
                        <td class="attr">Language/Database</td>
                        <td>:</td>
                        <td>PHP, HTML, CSS, CodeIgniter and MySQL</td>
                    </tr>
                    <tr class="project-row">
                        <td class="attr">Project Description</td>
                        <td>:</td>
                        <td>A short description about the project</td>
                    </tr>
                    <tr class="project-row">
                        <td class="attr">Team</td>
                        <td>:</td>
                        <td>Individual</td>
                    </tr>
                    <tr class="project-row">
                        <td class="attr">Role</td>
                        <td>:</td>
                        <td>Development and Maintainence</td>
                    </tr>
                </table>

                <div class="ar-cgc-landran-table-heading">
                    <div class="ar-cgc-landran-heading">
                        <div class="ar-cgc-landran-heading-inner"><strong>Internships / Experiential Learning</strong>
                        </div>
                    </div>
                    <div>
                        <table class="skill_table">

                            <caption>Company Name</caption>

                            <tr>
                                <td class="attr">Role</td>
                                <td>:</td>
                                <td>Frontend Engineer</td>
                            </tr>
                            <tr>
                                <td class="attr">Link</td>
                                <td>:</td>
                                <td>Link to Work samples</td>
                            </tr>
                            <tr>
                                <td class="attr">Description</td>
                                <td>:</td>
                                <td>A short description about the project</td>
                            </tr>
                            <tr>
                                <td class="attr">Duration</td>
                                <td>:</td>
                                <td>Sept 20XX - Present</td>
                            </tr>

                        </table>
                        <table class="skill_table">

                            <caption>Company Name</caption>

                            <tr>
                                <td class="attr">Role</td>
                                <td>:</td>
                                <td>Frontend Engineer</td>
                            </tr>
                            <tr>
                                <td class="attr">Link</td>
                                <td>:</td>
                                <td>Link to Work samples</td>
                            </tr>
                            <tr>
                                <td class="attr">Description</td>
                                <td>:</td>
                                <td>A short description about the project</td>
                            </tr>
                            <tr>
                                <td class="attr">Duration</td>
                                <td>:</td>
                                <td>Sept 20XX - Present</td>
                            </tr>

                        </table>
                        <table class="skill_table">

                            <caption>Company Name</caption>

                            <tr>
                                <td class="attr">Role</td>
                                <td>:</td>
                                <td>Frontend Engineer</td>
                            </tr>
                            <tr>
                                <td class="attr">Link</td>
                                <td>:</td>
                                <td>Link to Work samples</td>
                            </tr>
                            <tr>
                                <td class="attr">Description</td>
                                <td>:</td>
                                <td>A short description about the project</td>
                            </tr>
                            <tr>
                                <td class="attr">Duration</td>
                                <td>:</td>
                                <td>Sept 20XX - Present</td>
                            </tr>

                        </table>

                        <table class="skill_table">

                            <caption>Company Name</caption>

                            <tr>
                                <td class="attr">Role</td>
                                <td>:</td>
                                <td>Frontend Engineer</td>
                            </tr>
                            <tr>
                                <td class="attr">Link</td>
                                <td>:</td>
                                <td>Link to Work samples</td>
                            </tr>
                            <tr>
                                <td class="attr">Description</td>
                                <td>:</td>
                                <td>A short description about the project</td>
                            </tr>
                            <tr>
                                <td class="attr">Duration</td>
                                <td>:</td>
                                <td>Sept 20XX - Present</td>
                            </tr>

                        </table>
                    </div>
                </div>


                <div class="ar-cgc-landran-table-heading">
                    <div class="ar-cgc-landran-heading">
                        <div class="ar-cgc-landran-heading-inner"><strong>Extra-Curricular Activities</strong></div>
                    </div>
                    <div>
                        <ul>
                            <li>Winner in Dance Fest</li>
                            <li>Winner in Annual Athletics in 200m event</li>
                            <li>Organized hackathons</li>
                            <li>Gave tech talk to juniors</li>
                            <li>Took my dog to walk every evening</li>
                        </ul>
                    </div>
                </div>

                <div class="ar-cgc-landran-table-heading">
                    <div class="ar-cgc-landran-heading">
                        <div class="ar-cgc-landran-heading-inner"><strong>Hobbies / Interests</strong></div>
                    </div>
                    <div>
                        <ul>
                            <li>Music</li>
                            <li>Contributing to Open Source</li>
                            <li>Dance</li>
                            <li>Hiking</li>
                            <li>Reading graphic novels</li>
                        </ul>
                    </div>
                </div>

                <div class="ar-cgc-landran-table-heading">
                    <div class="ar-cgc-landran-heading">
                        <div class="ar-cgc-landran-heading-inner"><strong>Personal Information</strong></div>
                    </div>
                    <div>
                        <p><strong>Date of Birth</strong> : DD/MM/YYYY </p>
                        <p><strong>Gender/Marital Status</strong> : G/MS</p>
                        <p><strong>Language Proficiency</strong> : Languags</p>
                    </div>
                </div>

                <div class="ar-cgc-landran-table-heading">
                    <div class="ar-cgc-landran-heading">
                        <div class="ar-cgc-landran-heading-inner"><strong>Personal Information</strong></div>
                    </div>
                    <div>
                        <p>I do hereby declare that the above information is true to the best of my knowledge</p>
                        <div class="declare">
                            <p><strong>Name</strong></p>
                            <p><strong>Place : Place</strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ar-cgc-landran-save-button" onclick="window.print()">
        <i class='fas fa-download'></i>
    </div>
</body>

</html>